.logo{
  color: var(--primary) ! important;
}
.input {
  border-right: none !important;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}
.input:focus{
  border-color: var(--primary) ! important;
  box-shadow: 0 0 0 .25rem #a8010152 ! important;
  border-right: none;
}
.searchIcon{
  height: 38px;
  color: var(--primary);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
}
form:focus-within .searchIcon {
  box-shadow: 8px 0px 0 0.25rem #a8010152 !important;
  border: 1px solid var(--primary) !important;
  border-left: none !important;
}
.icons{
  width: 38px;
  height: 38px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  var(--primary);
  border-radius: 22%;
  transition: background-color 0.3s ease, transform 0.5s ease;
  &:hover{
    background-color: #880000;
    transform: scale(1.1);
  }
}