svg{
    width: 4rem;
    height: 4rem;
}
#root > section, #root > header {
    padding: 0 10%;
}
.splide__arrow{
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    font-size: 2cap;
    & svg{
        fill: var(--primary);
        width: 4rem;
        height: 4rem;
    }
}
section .splide__track{
    width: 75% ! important;
    margin: auto;
    padding: 1rem 0;
}
section .splide__arrow svg{
    width: 3rem;
    height: 3rem;
}
